doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= Cargadeproductos
        link(href="https://bootswatch.com/5/sketchy/bootstrap.min.css" rel="stylesheet")
    body.p-4
        section.p-4.bg-secondary
            h2.text-primary Ingrese Producto
            form(action='/products' method='POST')
                div(class=classDiv)
                    label(class=classLabel for='title') Nombre
                    input.form-control(type='text' name='title')
                div(class=classDiv)
                    label(class=classLabel for='price') Precio
                    input.form-control(type='number' name='price')
                div(class=classDiv)
                    label(class=classLabel for='thumbnail') Foto URL
                    input.form-control(type='url' name='thumbnail')
                div(class=classDiv)
                    input.btn.btn-success(type='submit' value='Enviar')
            div(class=classDiv)
                a(href="./products")
                    button.btn.btn-warning Ver Productos